// main styles
@import 'reset';
@import 'colors';
@import 'mixins';

body {
    font-family: "Helvetica", sans-serif;
}

h1,
h2,
p,
label,
th,
td {
    color: $primary-color;
    text-align: center;
}

h1,
h2 {
    font-size: 30px;
    margin: 10px;
    color: $third-color;
}
h4 {
    color: $primary-color;
    margin: 20px;
    font-size: 20px;
}

//styles for charts
//bubbleChart
#bubble {
    //text-align: center;
    width: 50%;
    float: left;
    text {
        text-anchor: middle;
        fill: #fff;
    }
    select {
        float: none;
        width: 43%;
    }
    label {
        float: left;
        margin: 15px 10px 0 20px
    }
}

//barChart
.barchart {
    width: 50%;
    float: right;
}

rect {
    fill: $third-color;
    fill-opacity: 0.8;
    &:hover {
        fill-opacity: 1;
        fill: $secondary-color;
    }
}

.axis {
    font-size: smaller;
}

.x-axis,
.y-axis {
    text-anchor: middle;
    fill: $text-color;
    font-size: 18px;
}

#bubbleDropdown {
    margin-bottom: 20px;
}

#bubbleChart {
    float: left;
}

#bubbleTable {
    table {
        margin: 0 auto;
        td,
        th {
            padding: 1px 4px;
        }
        th {
            font-weight: bold;
        }
    }
}

label,
span {
    font-size: 15px;
    margin-left: 20px;
    color: $label-color;
    input[type='checkbox'] {
        opacity: 1 !important;
        margin: 10px;
        width: 20px;
        height: 20px;
        position: relative !important;
    }
}

select {
    display: block !important;
    float: right;
    width: 50%;
}

#parallelSet {
    svg {
        display: block;
        margin: 20px auto;
    }
    path {
        fill: $primary-color;
        fill-opacity: 0.3;
        &:hover {
            fill: $secondary-color;
            fill-opacity: 0.8;
        }
    }
}
